#why we need variables?
varible is a container, where we can store values

In [1]:
x=2

In [2]:
x+3

5

In [3]:
y=3

In [4]:
x+y

5

In [5]:
x=9

In [6]:
x+y

12

In [7]:
#in python we no need to specify the type of variables
x

9

In [8]:
abc

NameError: name 'abc' is not defined

In [9]:
x+10

19

In [10]:
#  '_' represents the output of the previous operation
_+y

22

In [11]:
name='youtube'

In [12]:
name+'rocks'

'youtuberocks'

In [13]:
name ' rocks'

SyntaxError: invalid syntax (<ipython-input-13-507e86159de9>, line 1)

In [14]:
#fetching character from str
#str is a collection of characters
#python indexing starts from 0
name[0]

'y'

In [15]:
name[6]

'e'

In [16]:
name[8] #because we are using out of limit

IndexError: string index out of range

In [17]:
name[-1]

'e'

In [18]:
name[-2]

'b'

In [19]:
name[-7]

'y'

In [20]:
#printing multiple characters, exludes the last char
name[0:2]

'yo'

In [21]:
name[1:4]

'out'

In [22]:
name[1:]

'outube'

In [23]:
name[:4]

'yout'

In [24]:
name[3:10]

'tube'

In [25]:
name[0:3]='my'
#here we can't change the char in str, 
#hence str in python are immutable

TypeError: 'str' object does not support item assignment

In [26]:
name[0]='R'

TypeError: 'str' object does not support item assignment

In [27]:
'my '+name[3:]

'my tube'

In [30]:
myname='navin reddy'

In [31]:
#to know the length of the str
len(myname)

11

In [32]:
#LISTS
#we can have a list with different type of data
#lists are mutable- means we can change the values
#we use '[]' to declare list

In [34]:
nums= [25,12,36,95,14]
nums

[25, 12, 36, 95, 14]

In [35]:
nums[0]

25

In [36]:
nums[4]

14

In [37]:
nums[2:]

[36, 95, 14]

In [38]:
nums[-1]

14

In [39]:
nums[-5]

25

In [40]:
names= ['navin','kiran','john']

In [41]:
names

['navin', 'kiran', 'john']

In [42]:
values= [9.5,'navin',25]

In [43]:
mil= [nums,names]

In [44]:
mil

[[25, 12, 36, 95, 14], ['navin', 'kiran', 'john']]

In [46]:
#methods iin list
#appends value at the end of the list by append method
nums.append(45)
nums

[25, 12, 36, 95, 14, 45, 45]

In [47]:
#inserting the value at a particular index by insert method
nums.insert(2,77)
nums

[25, 12, 77, 36, 95, 14, 45, 45]

In [48]:
#removing by value
nums.remove(14)

In [49]:
nums

[25, 12, 77, 36, 95, 45, 45]

In [50]:
#removing by index
nums.pop(1)

12

In [51]:
nums

[25, 77, 36, 95, 45, 45]

In [52]:
#pop removes last element, if we don't specify any index value
nums.pop()
nums

[25, 77, 36, 95, 45]

In [53]:
#delete multiple values from list
del nums[2:]
nums

[25, 77]

In [54]:
#adding multiple values from list
nums.extend([29,12,14,36])
nums

[25, 77, 29, 12, 14, 36]

In [55]:
#using inbuilt functions
min(nums)

12

In [56]:
max(nums)

77

In [57]:
sum(nums)

193

In [58]:
nums.sort()

In [59]:
nums

[12, 14, 25, 29, 36, 77]

In [60]:
#tuple 
#tuple is immutable- we can't change values in it
#we use '()' for tuple

In [64]:
tup= (21,36,14,25,25,25)

In [62]:
#fetching value
tup[1]

36

In [63]:
tup[1]=33

TypeError: 'tuple' object does not support item assignment

In [65]:
#methods in tuple
#count will count the no.of occurence of the number in tuple
#we can index value for the element
#there are no methods for tuple to append values bcoz they are immutable
#we use tuple where we have list of value but don't want to
#change values-application
#iterations in tuple is faster than list
tup.count(25)

3

In [66]:
tup.index(25)

3

In [67]:
#set
#collection of unique elements
#we use '{}'for sets
#set never follow any sequence(sorting) so index fetching of elements is not possible
#set uses the concept of '#' to fetch the element as fast as possible
#it not support sequence and not support duplicate values

In [69]:
s = {22,25,14,21,5}
s

{5, 14, 21, 22, 25}

In [71]:
s={25,14,98,63,75,98}
s

{14, 25, 63, 75, 98}

In [1]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> topics

Here is a list of available topics.  Enter any topic name to get more help.

ASSERTION           DELETION            LOOPING             SHIFTING
ASSIGNMENT          DICTIONARIES        MAPPINGMETHODS      SLICINGS
ATTRIBUTEMETHODS    DICTIONARYLITERALS  MAPPINGS            SPECIALATTRIBUTES
ATTRIBUTES          DYNAMICFEATURES     METHODS             SPECIALIDENTIFIERS
AUGMENTEDASSIGNMENT ELLIPSIS            MODULES             SPECIALMETHODS
BASICMETHODS        EXCEPTIONS          NAMESPACES          STRINGMETHODS
BINARY              EXECUTION           NONE                STRINGS
BITWISE             EXPRESSIONS         NUMBERMETHODS       SUBSCRIPTS
BOOLEAN             FLOAT               NUMBERS             TRACEBACKS
CALLABLEMETHODS     FORMATTING          OBJECTS             TRUTHVALUE
CALLS               FRAMEOBJECTS        OPERATORS           TUPLELITERALS
CLASSES             FRAMES              PACKAGES            TUPLES
CODEOBJECTS         FUNCTIONS           POWER               TYPEOBJECTS
COMPARISON          IDENTIFIERS         PRECEDENCE          TYPES
COMPLEX             IMPORTING           PRIVATENAMES        UNARY
CONDITIONAL         INTEGER             RETURNING           UNICODE
CONTEXTMANAGERS     LISTLITERALS        SCOPING
CONVERSIONS         LISTS               SEQUENCEMETHODS
DEBUGGING           LITERALS            SEQUENCES

help> lits
No Python documentation found for 'lits'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> LISTS
Mutable Sequence Types
**********************

The operations in the following table are defined on mutable sequence
types. The "collections.abc.MutableSequence" ABC is provided to make
it easier to correctly implement these operations on custom sequence
types.

In the table *s* is an instance of a mutable sequence type, *t* is any
iterable object and *x* is an arbitrary object that meets any type and
value restrictions imposed by *s* (for example, "bytearray" only
accepts integers that meet the value restriction "0 <= x <= 255").

+--------------------------------+----------------------------------+-----------------------+
| Operation                      | Result                           | Notes                 |
|================================|==================================|=======================|
| "s[i] = x"                     | item *i* of *s* is replaced by   |                       |
|                                | *x*                              |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s[i:j] = t"                   | slice of *s* from *i* to *j* is  |                       |
|                                | replaced by the contents of the  |                       |
|                                | iterable *t*                     |                       |
+--------------------------------+----------------------------------+-----------------------+
| "del s[i:j]"                   | same as "s[i:j] = []"            |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s[i:j:k] = t"                 | the elements of "s[i:j:k]" are   | (1)                   |
|                                | replaced by those of *t*         |                       |
+--------------------------------+----------------------------------+-----------------------+
| "del s[i:j:k]"                 | removes the elements of          |                       |
|                                | "s[i:j:k]" from the list         |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.append(x)"                  | appends *x* to the end of the    |                       |
|                                | sequence (same as                |                       |
|                                | "s[len(s):len(s)] = [x]")        |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.clear()"                    | removes all items from *s* (same | (5)                   |
|                                | as "del s[:]")                   |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.copy()"                     | creates a shallow copy of *s*    | (5)                   |
|                                | (same as "s[:]")                 |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.extend(t)" or "s += t"      | extends *s* with the contents of |                       |
|                                | *t* (for the most part the same  |                       |
|                                | as "s[len(s):len(s)] = t")       |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s *= n"                       | updates *s* with its contents    | (6)                   |
|                                | repeated *n* times               |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.insert(i, x)"               | inserts *x* into *s* at the      |                       |
|                                | index given by *i* (same as      |                       |
|                                | "s[i:i] = [x]")                  |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.pop([i])"                   | retrieves the item at *i* and    | (2)                   |
|                                | also removes it from *s*         |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.remove(x)"                  | remove the first item from *s*   | (3)                   |
|                                | where "s[i]" is equal to *x*     |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.reverse()"                  | reverses the items of *s* in     | (4)                   |
|                                | place                            |                       |
+--------------------------------+----------------------------------+-----------------------+

Notes:

1. *t* must have the same length as the slice it is replacing.

2. The optional argument *i* defaults to "-1", so that by default
   the last item is removed and returned.

3. "remove" raises "ValueError" when *x* is not found in *s*.

4. The "reverse()" method modifies the sequence in place for
   economy of space when reversing a large sequence.  To remind users
   that it operates by side effect, it does not return the reversed
   sequence.

5. "clear()" and "copy()" are included for consistency with the
   interfaces of mutable containers that don’t support slicing
   operations (such as "dict" and "set")

   New in version 3.3: "clear()" and "copy()" methods.

6. The value *n* is an integer, or an object implementing
   "__index__()".  Zero and negative values of *n* clear the sequence.
   Items in the sequence are not copied; they are referenced multiple
   times, as explained for "s * n" under Common Sequence Operations.

Related help topics: LISTLITERALS

help> quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [1]:
#to get the address of the variable
num=5

In [2]:
id(num)

140713732579856

In [3]:
name = 'navin'

In [4]:
id(name)

1748901308208

In [5]:
a=10
b=a

In [6]:
print(a)
print(b)

10
10

In [8]:
#here we can observe that both varibles a and b has same addess bcoz they contain same data- this makes python more memory efficient
print(id(a))
id(b)

140713732580016

140713732580016

In [9]:
#address depends on data but not on variable
id(10)

140713732580016

In [10]:
a=9
id(a)

140713732579984

In [11]:
k=a
id(k)

140713732579984

In [12]:
#data in the which is not tagged by any variable is ready for garbage collection
#In python we can't make a varible a constant
type(a)

int

# data types
* None
* Numeric
* List
* Tuple
* Set
* String
* Range
* Dictionary/ Mapping

In [13]:
# If u have a variable which is not assigned with any value is NONE
#Numeric- int, float, complex, bool
#sequence- List, Tuple, Set, String, Rnage

In [14]:
#numeric type
num=2.5
type(num)

float

In [15]:
num=5
type(num)

int

In [16]:
#complex number represention
num= 6+9j
type(num)

complex

In [17]:
#type conversion- casting
a=5.6
b= int(a)

In [18]:
b

5

In [19]:
type(b)

int

In [20]:
k= float(b)

In [21]:
type(k)

float

In [22]:
k=6

In [23]:
c= complex(b,k)
c

(5+6j)

In [24]:
#true=1, false=0
b<k

True

In [26]:
bol= b<k

In [27]:
type(bol)

bool

In [28]:
b>k

False

In [29]:
int(True)

1

In [30]:
int(False)

0

In [31]:
#list
lst=[25,36,45,12]
type(lst)

list

In [32]:
#set
s= {25,36,15,45,12,25}
s

{12, 15, 25, 36, 45}

In [33]:
type(s)

set

In [34]:
#tuple
t=(25,36,4,57,12)
type(t)

tuple

In [35]:
#string
st= 'priya'

In [38]:
#range
list(range(10)) #displayes values between 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
#to print even numbers
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [40]:
type(range(10))

range

In [41]:
#dictionary is also calles as mapping
#phone book is a dictionary- key, value pairs
#all the keys should be unique
d= {'navin':'samsung','rahul':'Iphone','kiran':'Oneplus'}
d

{'navin': 'samsung', 'rahul': 'Iphone', 'kiran': 'Oneplus'}

In [43]:
d.keys()

dict_keys(['navin', 'rahul', 'kiran'])

In [44]:
d.values()

dict_values(['samsung', 'Iphone', 'Oneplus'])

In [45]:
#fetching values
d['rahul']

'Iphone'

In [46]:
d.get('kiran')

'Oneplus'