#why we need variables?
varible is a container, where we can store values

In [1]:
x=2

In [2]:
x+3

5

In [3]:
y=3

In [4]:
x+y

5

In [5]:
x=9

In [6]:
x+y

12

In [7]:
#in python we no need to specify the type of variables
x

9

In [8]:
abc

NameError: name 'abc' is not defined

In [9]:
x+10

19

In [10]:
#  '_' represents the output of the previous operation
_+y

22

In [11]:
name='youtube'

In [12]:
name+'rocks'

'youtuberocks'

In [13]:
name ' rocks'

SyntaxError: invalid syntax (<ipython-input-13-507e86159de9>, line 1)

In [14]:
#fetching character from str
#str is a collection of characters
#python indexing starts from 0
name[0]

'y'

In [15]:
name[6]

'e'

In [16]:
name[8] #because we are using out of limit

IndexError: string index out of range

In [17]:
name[-1]

'e'

In [18]:
name[-2]

'b'

In [19]:
name[-7]

'y'

In [20]:
#printing multiple characters, exludes the last char
name[0:2]

'yo'

In [21]:
name[1:4]

'out'

In [22]:
name[1:]

'outube'

In [23]:
name[:4]

'yout'

In [24]:
name[3:10]

'tube'

In [25]:
name[0:3]='my'
#here we can't change the char in str, 
#hence str in python are immutable

TypeError: 'str' object does not support item assignment

In [26]:
name[0]='R'

TypeError: 'str' object does not support item assignment

In [27]:
'my '+name[3:]

'my tube'

In [30]:
myname='navin reddy'

In [31]:
#to know the length of the str
len(myname)

11

In [32]:
#LISTS
#we can have a list with different type of data
#lists are mutable- means we can change the values
#we use '[]' to declare list

In [34]:
nums= [25,12,36,95,14]
nums

[25, 12, 36, 95, 14]

In [35]:
nums[0]

25

In [36]:
nums[4]

14

In [37]:
nums[2:]

[36, 95, 14]

In [38]:
nums[-1]

14

In [39]:
nums[-5]

25

In [40]:
names= ['navin','kiran','john']

In [41]:
names

['navin', 'kiran', 'john']

In [42]:
values= [9.5,'navin',25]

In [43]:
mil= [nums,names]

In [44]:
mil

[[25, 12, 36, 95, 14], ['navin', 'kiran', 'john']]

In [46]:
#methods iin list
#appends value at the end of the list by append method
nums.append(45)
nums

[25, 12, 36, 95, 14, 45, 45]

In [47]:
#inserting the value at a particular index by insert method
nums.insert(2,77)
nums

[25, 12, 77, 36, 95, 14, 45, 45]

In [48]:
#removing by value
nums.remove(14)

In [49]:
nums

[25, 12, 77, 36, 95, 45, 45]

In [50]:
#removing by index
nums.pop(1)

12

In [51]:
nums

[25, 77, 36, 95, 45, 45]

In [52]:
#pop removes last element, if we don't specify any index value
nums.pop()
nums

[25, 77, 36, 95, 45]

In [53]:
#delete multiple values from list
del nums[2:]
nums

[25, 77]

In [54]:
#adding multiple values from list
nums.extend([29,12,14,36])
nums

[25, 77, 29, 12, 14, 36]

In [55]:
#using inbuilt functions
min(nums)

12

In [56]:
max(nums)

77

In [57]:
sum(nums)

193

In [58]:
nums.sort()

In [59]:
nums

[12, 14, 25, 29, 36, 77]

In [60]:
#tuple 
#tuple is immutable- we can't change values in it
#we use '()' for tuple

In [64]:
tup= (21,36,14,25,25,25)

In [62]:
#fetching value
tup[1]

36

In [63]:
tup[1]=33

TypeError: 'tuple' object does not support item assignment

In [65]:
#methods in tuple
#count will count the no.of occurence of the number in tuple
#we can index value for the element
#there are no methods for tuple to append values bcoz they are immutable
#we use tuple where we have list of value but don't want to
#change values-application
#iterations in tuple is faster than list
tup.count(25)

3

In [66]:
tup.index(25)

3

In [67]:
#set
#collection of unique elements
#we use '{}'for sets
#set never follow any sequence(sorting) so index fetching of elements is not possible
#set uses the concept of '#' to fetch the element as fast as possible
#it not support sequence and not support duplicate values

In [69]:
s = {22,25,14,21,5}
s

{5, 14, 21, 22, 25}

In [71]:
s={25,14,98,63,75,98}
s

{14, 25, 63, 75, 98}

In [ ]:
s.